#test
name: Python Typecasting Checkout Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-typecasting-code:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Step 3: Run the Python typecasting script
      - name: Run typecasting script
        run: python typecasting.py
